@import "_variables";

//параметри навігаційнгого меню та шапки сайту//

.header {
  display: flex;
  height: 60px;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  &__logo-photo {
    width: 30px;
    height: 30px;
    margin-left: 26px;
  }

  &__client-photo {
    width: 30px;
    height: 30px;
    margin-right: 19px;
  }

  &__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__navigation-list {
    list-style: none;
  }

  &__navigation-item {
    display: inline-block;
  }

  &__navigation-link {
    margin-right: 30px;
    text-decoration: none;
    position: relative;
    display: inline-block;
    font-size: 16px;
    line-height: 60px;
    font-weight: bold;
    color: #3d4e61;
    transition: color $animSp;
    &:hover {
      color: #fd5c63;
    }
  }

  &__photo {
    height: 464px;
    width: 100%;
  }
}

@media screen and (max-width: $mobileSizeScreen) {
  .header {
    &__logo-photo {
      display: none;
    }

    &__client-photo {
      display: none;
    }

    &__navigation-link {
      font-size: 14px;
      line-height: 30px;
    }
  }
}
